@import "../../bootstrap/scss/breadcrumb";

.breadcrumb-navbar {
  color: $button-color;

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }

  .breadcrumb-item {
    + .breadcrumb-item::before,
    &::before {
      width: 10px;
      color: #eee;

      
      content: "\203A";
    }

    .icon {
      display: none;
    }
  }

  .breadcrumb-comment {
    font-style: italic;
  }
}
