@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: IRANYEKANWEBMEDIUM;
  src: url("/fonts/iranyekanwebmedium.2d4f96e5.2d4f96e5.woff") format("woff");

  font-style: normal;
  font-weight: 400;
  fil
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: IRANYEKANWEBMEDIUM;
}




@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}